* {
	/*outline: 1px solid pink !important;*/
    margin: 0px;
    padding: 0px;
}


#container {
	display: flex;
	flex-wrap: wrap;
	flex: 200px;
}



/*#container { 
	display:inline-block; width:100%; padding: 0.5em 0; border: 1px solid black;
}


.myBox { display:inline-block; min-height: 100px; width:300px; margin: 0.5em 0 0.5em 3%; float:left; display: block; }


#box-left{
	border:1px solid green; 
	display: inline-block; 
	/*float: left;*/

/*}

#box-right{
	border:1px solid orange; 
	display: inline-block; 
	/*float: right;*/



/*
body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

p {
  line-height: 2;
  word-spacing: 0.1rem;
}

img {
  float: left;
  margin-right: 30px;
}*/